{#
/**
 * @see core/themes/stable/templates/content/node.html.twig
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    view_mode ? node.bundle|clean_class ~ '_' ~ view_mode|clean_class,
  ]
%}
{% spaceless %}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes.addClass('label') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    {{ content }}
  </div>

</article>
{% endspaceless %}
