{#
/**
 * @see core/themes/stable/templates/block/block.html.twig
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes }}>{{ content }}</div>
  {% endblock %}
</div>
