{#
/**
 * @see core/themes/classy/templates/field/field.html.twig
 */
#}
{%
  set title_classes = [
    'label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div{{ attributes.addCLass(field_name) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  {% for item in items %}
    {% if multiple %}<div{{ item.attributes.addClass('item') }}>{% endif %}
    {{ item.content }}
    {% if multiple %}</div>{% endif %}
  {% endfor %}
</div>
