.local_tasks {
  position: fixed;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  top: 50%;
  background-color: #f8f8f8;
  z-index: 999;
  padding: 8px;
  border: 1px solid #e1e1e1;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in; }
  .local_tasks.show {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .local_tasks ul {
    margin: 0;
    list-style: none;
    padding-left: 0; }
  .local_tasks li {
    line-height: 1.5; }
  .local_tasks_submit {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url("./menu.png");
    background-color: #f8f8f8;
    padding: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 100%;
    top: 0;
    cursor: pointer; }
